<h1> Log In </h1>

<form action="<%= session_url %>" method="POST">
<input
name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
<p>
<label for="username"> Username </label>
<input type="text" id="username" name="user[username]"
value="<%= @user.username %>">
</p>
<p>
<label for="password"> Password </label>
<input type="password" id="password" name="user[password]">
</p>
<input type="submit" name="submit" value="submit">

</form>

<a href=<%= new_user_url %>> Go sign up!</a>