<h1> Welcome! <%= @user.username %> </h1>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" name="submit" value="Log Out">
</form>
