<h1>Edit Sub </h1>


<form action="<%= sub_url(@sub) %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

    <label for="sub_title"> Tittle of sub </label>
  <input type="text" name="sub[title]" id="sub_title"
  value="<%= @sub.title %>">

    <label for="sub_description"> Sub description </label>
  <input type="text_area" rows="20" columns="30" name="sub[description]"
   id="sub_description" value="<%= @sub.description %>">

   <input type="submit" value="submit">

</form>