<h1>All subs</h1>
<ul>
<% Sub.all.each do |sub| %>
    <li>
      <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
      <form action="<%= sub_url(sub) %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

        <input type="submit" value="delete" name="submit">
      </form>
    </li>
<% end %>
</ul>

<form action="<%=new_sub_url%>" method="GET">
  <input type="submit" value="make a new sub" name="submit">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">
</form>



