<h1> New Sub </h1>


<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

    <label for="sub_title"> Tittle of sub </label>
  <input type="text" name="sub[title]" id="sub_title"
  value="<%= @sub.title %>">

    <label for="sub_description"> Sub description </label>
  <textarea rows="20" columns="30" name="sub[description]"
   id="sub_description" value="<%= @sub.description %>"></textarea>

   <input type="submit" value="submit">

</form>