<h1> Welcome to the Page for <%= @sub.title%>!!!!! </h1>
Descriytion : <%= @sub.description %> <br>
Moderayyytor : <%= @sub.moderator.username %>
<ol>
Poooosts: <% @sub.posts.each do |post| %>
  <li> <%= post.title %> </li>
  <form action="<%= sub_post_url(post) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <input type="submit" value="delete" name="submit">
  </form>
<% end %>
</ol>

<a href="<%= edit_sub_url(@sub) %>"> Edit Sub </a> <br>
<a href="<%= new_sub_post_url(@sub) %>"> New Post </a>
