<h1> make a post </h1>
<form action="<%= sub_posts_url %>" method="POST">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

    <label for="post_title"> Tittle of poost </label>
  <input type="text" name="post[title]" id="post_title"
  value="<%= @post.title %>">

    <label for="post_content"> Post Content </label>
  <textarea rows="20" columns="30" name="post[content]"
   id="post_content" value="<%= @post.content %>"></textarea>

     <label for="post_url"> Liiink </label>
   <input type="text" name="post[url]" id="post_url"
   value="<%= @post.url %>">

   <input type="submit" value="submit">

</form>